# Dependencies
node_modules/
dist/
build/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment Variables
.env
.env.local

# ML Models & Weights
ml-engine/models/*.pt
ml-engine/*.pt
ml-engine/models/*.onnx
ml-engine/models/*.weights
ml-engine/data/test_runs/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
*.lock
